*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
.env
.env.*
.fleet
.run
captures
.externalNativeBuild
.cxx
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.hprof
*.log
*.keystore
*.jks
google-services.json
firebase-services.json
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
